In [7]:
import mysql.connector 
from sqlalchemy import create_engine
import pandas as pd

In [8]:
import sys
sys.path.append("..")
from src.clean import *

### Cargamos nuestros csv y los pasamos a dataframe para luego subirlo a SQL:

In [9]:
a = "../data/actor_limpio.csv"
actor = abrir_csv(a)
c = "../data/category_limpio.csv"
category = abrir_csv(c)
f = "../data/film_limpio.csv"
film = abrir_csv(f)
i = "../data/inventory_limpio.csv"
inventory = abrir_csv(i)
l = "../data/language_limpio.csv"
language = abrir_csv(l)
o = "../data/old_HDD_limpio.csv"
old_HDD = abrir_csv(o)
r = "../data/rental_limpio.csv"
rental = abrir_csv(r)

# Cargamos las tablas a SQL

In [10]:
with open('contraseñas.txt') as file:
    
    password = file.read() #cargo mi contraseña y la guardo en una variable

In [11]:
# Establecer la conexión con el servidor de MySQL
conexion = mysql.connector.connect(
    host="localhost",
    user="root", 
    password=password)

# Crear un objeto Cursor para ejecutar comandos SQL
cursor = conexion.cursor()

# Crear la base de datos "videoclub"

try:
    cursor.execute("CREATE DATABASE videoclub")
    print("La base de datos 'videoclub' ha sido creada con éxito.")
except mysql.connector.Error as err:
    if err.errno == 1007:
        print("La base de datos 'videoclub' ya existe. Continuando...")
    else:
        print(f"Error al crear la base de datos: {err}")

La base de datos 'videoclub' ha sido creada con éxito.

In [12]:
engine = create_engine(f"mysql+mysqlconnector://root:{password}@localhost/videoclub")
def cargar_df(dataframe, nombre_tabla, engine=engine, if_exists='append', index=False):
    
    return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)

cargar_df(actor, 'Actors')
cargar_df(category, 'Category')
cargar_df(film, 'Film', engine)
cargar_df(inventory, 'Inventory')
cargar_df(language, 'Language')
cargar_df(old_HDD, 'Old_HDD')
#cargar_df(rental, 'Rental')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3028\4149819821.py:4: UserWarning: The provided table name 'Actors' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_3028\4149819821.py:4: UserWarning: The provided table name 'Category' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_3028\4149819821.py:4: UserWarning: The provided table name 'Film' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_3028\4149819821.py:4: UserWarning: The provided table name 'Inventory' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_3028\4149819821.py:4: UserWarning: The provided table name 'Language' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_3028\4149819821.py:4: UserWarning: The provided table name 'Old_HDD' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  return dataframe.to_sql(name=nombre_tabla, con=engine, if_exists=if_exists, index=index)

1000

In [13]:
conexion = mysql.connector.connect(
    host="localhost",
    user="root", 
    password=password)

cursor=conexion.cursor()

In [14]:
conexion=mysql.connector.connect(    #comprobamos que todo se ha subido Ok¡
    host="localhost",
    user="root", 
    password=password, 
    database='videoclub')
cursor = conexion.cursor()
cursor.execute('show tables;')

for x in cursor:
    print(x)

('actors',)
('category',)
('film',)
('inventory',)
('language',)
('old_hdd',)

In [15]:
cursor.close()
conexion.close()